@page
@model SacramentMeetingPlanner.Pages.Speakers.IndexModel

@{
    ViewData["Title"] = "Sacrament Meeting Speakers";
}

<h1>Sacrament Meeting Speakers</h1>
<h2>@Model.SacramentMeeting.wardName</h2>
<h3>@Model.SacramentMeeting.date.ToShortDateString()</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].topic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Speaker) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.topic)
            </td>
            <td>
                <a asp-page="./Edit" class="btn btn-warning" asp-route-id="@item.id" asp-route-sacramentMeetingId="@item.sacramentMeetingId">Edit</a> |
                <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.id" asp-route-sacramentMeetingId="@item.sacramentMeetingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-success" asp-page="./Create" asp-route-sacramentMeetingId="@Model.sacramentMeetingId">Add Speaker</a>
</p>

<p>
    <a class="btn btn-primary" 
    asp-page="../MeetingPlanner/Details" asp-route-id="@Model.sacramentMeetingId" >Back To Sacrament Meeting Detail</a>
</p>
